<%= form_with model:@user, url: user_registration_path , local: true do |f| %>

<div class='form-wrap'>
  <div class='form-header'>
    <h2 class='form-header-text'>
      会員情報入力
    </h2>
  </div>

  <%= render "devise/shared/error_messages", resource: resource %>  
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">ニックネーム</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_field :nickname, class:"input-default", placeholder:"例) 凄腕ブリーダー" %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">メールアドレス</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.email_field :email, class:"input-default", autofocus: true, placeholder:"PC・携帯どちらでも可" %>
  </div>
  
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">パスワード</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.password_field :password, class:"input-default", placeholder:"6文字以上の半角英数字", autofocus: true %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">パスワード(確認用）</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.password_field :password_confirmation, class:"input-default", placeholder:"同じパスワードを入力" %>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">プロフィール</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :profile, class:"input-default"%>
  </div>

   <div class='form-btn'>
    <%= f.submit "会員登録" ,class:"text-center register-btn" %>
  </div>

  <% end %>
</div>
