<%= form_with(model: @breed , local: true) do |f|%>
  <div>
  投稿画像
  </div>
  <%= f.file_field :image %>

  <div>
  題名
  </div>
  <%= f.text_field :title %>

  <div>
  カテゴリー
  </div>
  <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"category"}) %>

  <div>
  種類名
  </div>
  <%= f.text_field :type_name, placeholder:"例）オオクワガタ"%>

  <div>
  セット日
  </div>
  <%= f.text_field :date, placeholder:"例）2021-1-1"%>

  <div>
  結果
  </div>
  <%= f.text_field :result, placeholder:"初投稿時は割り出し予定日を記載" %>

  <div>
  備考欄
　</div>
  <%= f.text_area :note, placeholder:"例1）マットの水分量：やや多め...例２）温度設定：25度など"%>

  <div>
  <%= f.submit "投稿する"%>
  </div>
<% end %>