<div>
<%= @breed.title %>
</div>

<div>
<%= link_to '編集', '#' %>
<%= link_to '削除', '#' %>
<%= link_to '幼虫飼育情報入力', new_breed_information_path(@breed.id) %> 
<%= link_to '幼虫飼育情報詳細', breed_information_path(@breed.information.id) %>
</div>

<div>
<%= image_tag @breed.image,class:"breed-img" %>
</div>

<div>
カテゴリー
<%= @breed.category.name%>
</div>

<div>
種類
<%= @breed.type_name %>
</div>

<div>
セット日
<%= @breed.date %>
</div>

<div>
結果
<%= @breed.result %>
</div>

<div>
備考欄
<%= @breed.note %>
</div>
