<%# タイトル %>
<div class =" shop-title">
  <h1 class="shop-title">おすすめ専門店の一覧です (あいうえお順)</h1>
</div>

<%# ページの説明 %>
<div class="page-description">
</div>

<%# ショップ一覧 %>
<div class =" shop-lists">
  <ol class="shop_list">
    <li>
      <%= link_to "オオクワキング", 'http://www.kingss.com', target: :_blank, rel: "noopener noreferrer",class: :"shop-name text-reset"  %> 
      <p>おすすめポイント:飼育用品の品揃えが豊富 関東圏なら送料が安い</p>
    </li>
    
    <li>
      <%= link_to "神長きのこ園", 'https://kaminagakinokoen.ocnk.net', target: :_blank, rel: "noopener noreferrer",class: :"shop-name text-reset" %>
      <p>おすすめポイント:オオクワガタ・タランドゥス等の大型サイズを狙い方必見　多くのギネスホルダーが愛用している菌糸　</p>
    </li>

    <li>
      <%= link_to "クワカブプラネット", 'http://www.kuwakabuplanet.com', target: :_blank, rel: "noopener noreferrer",class: :"shop-name text-reset" %>
      <p>おすすめポイント:カブト・クワガタ共に多くの種類を取り扱っている　また飼育用品の品揃いも良く生体・用品の一式揃えることができる</p>
    </li>

    <li>
      <%= link_to "KBファーム", 'http://www.wraios.co.jp/kbfarm.htm', target: :_blank, rel: "noopener noreferrer",class: :"shop-name text-reset" %>
      <p>おすすめポイント:ブリーダー愛用　高品質の昆虫ゼリー（プロゼリー）で有名　菌糸マットの品質も良く、クワガタ産卵用のフェロールマットの実績多数</p>
    </li>

    <li>
      <%= link_to "月夜野きのこ園", 'https://www.tsukiyono.co.jp/stag/', target: :_blank, rel: "noopener noreferrer",class: :"shop-name text-reset" %>
      <p>おすすめポイント:生体・用品の一式揃えることができる　マット・菌糸が低コストかつ良品質　飼育レポートもあり、飼育の参考にもなる</p>
    </li>

    <li>
      <%= link_to "デイキャツ", 'http://doranekoya.jp', target: :_blank, rel: "noopener noreferrer",class: :"shop-name text-reset" %>
      <p>おすすめポイント:飼育ケース（デジケース）、昆虫ゼリー（ペロリアン）で有名　菌糸の材料に珍しいエノキを使用している</p>
    </li>

    <li>
      <%= link_to "Top Select", 'https://newtopselect.ocnk.net/phone/', target: :_blank, rel: "noopener noreferrer",class: :"shop-name text-reset" %>
      <p>おすすめポイント:スマトラオオヒラタクワガタ専門店　大型・極太のスマトラヒラタが好きな方必見。</p>
    </li>

    <li>
      <%= link_to "ドルクスーオーナーズ SHOP", 'https:/www.dorukusu.com/', target: :_blank, rel: "noopener noreferrer",class: :"shop-name text-reset" %>
      <p>おすすめポイント:飼育用品が最低コストで購入できる　マット・菌糸等の種類も豊富　大量の飼育用品も購入予定ならココ！</p>
    </li>

    <li>
      <%= link_to "西日本こんちゅう社", 'https://www.insect.jp/index.html', target: :_blank, rel: "noopener noreferrer",class: :"shop-name text-reset" %>
      <p>おすすめポイント:各植菌産卵材、特にカワラ種での実績多数　高品質の植菌材を求めるならココ　ここ最近は人気のため生産が間に合ってないので在庫確認必須</p>
    </li>

    <li>
      <%= link_to "むし社", 'http://mushi-sha.life.coocan.jp/index.html', target: :_blank, rel: "noopener noreferrer",class: :"shop-name text-reset" %>
      <p>おすすめポイント:カブクワ ブリーダー愛読のBE-KUWAの発行社　昆虫界の有名店　実店舗も最近リニューアル移転しました。</p>
    </li>

    <li>
      <%= link_to "北斗惠栽園", 'https://kiwame.ocnk.net', target: :_blank, rel: "noopener noreferrer",class: :"shop-name text-reset" %>
      <p>おすすめポイント:飼育用品が低コストかつ高品質　菌糸の種類・バリエーションも豊富　菌糸ブロックのセット売りが◎</p>
    </li>

    <li>
      <%= link_to "やまのふもと", 'http://www.yamanofumoto.com', target: :_blank, rel: "noopener noreferrer",class: :"shop-name text-reset" %>
      <p>おすすめポイント:飼育用品が低コストかつ高品質　菌糸ブロックが業界最安で購入可能</p>
    </li>

</ol>
</div>
